$misure: 1, 2, 4;


// @each $n in $misure {
//   .francesco-#{$n}{
//     padding-inline:2* $n + rem;
//   }
// }

@for $indice from 1 through 7{
    .s-#{$indice}{
        font-size: 10px * $indice;
    }
}
@for $indice from 1 through 7{
    .p-i-#{$indice}{
      padding-inline: 1rem * $indice;
    }
}
.w{
    width: 50%;
}


